/* Estilos generales para el contenedor de About Us */
.sobre-container {
  background-color: #1a202c; /* Fondo oscuro */
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  color: #7e22ce; /* Tono purple-600 para el texto */
}

/* Estilo para el encabezado */
.sobre-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #7e22ce; /* Tono purple-600 para el encabezado */
  margin-bottom: 20px;
}

/* Estilo para el mensaje o párrafo */
.sobre-message {
  font-size: 1.25rem;
  color: #b4b4f5; /* Un color gris claro para el texto del párrafo */
}
